body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 40px;
}

.rowData {
  width: 200px;
  font-size: larger;
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: darkgoldenrod;
  border-style: dashed;
  border-radius: 10px;
  /* box-sizing: content-box; */
  text-transform: capitalize;
}

.rowDataDone {
  text-decoration: line-through;
  color: gray;
  opacity: 0.3;
}

.itemIcon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  float: left;
  margin-left: 10px;
}

.itemHeader {
  margin-bottom: 100px;
}

input {
  height: 25px;
  border: 1px gray;
  border-style: none none solid none;
  float: right;
}
input:visited {
  border-style: none;
}
